@font-face {
    font-family: 'Pixemon';
    src: url('../fonts/PixemonTrialRegular-p7nLK.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes explosion {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.5); /* Expande la palabra */
        opacity: 0.8;
    }
    100% {
        transform: scale(0); /* Desaparece la palabra */
        opacity: 0;
    }
}

.explosion-effect {
    animation: explosion 0.5s ease-out forwards;
    position: relative; /* Mantiene la palabra en el mismo lugar */
    z-index: 20;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
    font-family: 'Pixemon', Courier, monospace;
    color: #ffffff;
    overflow: hidden;
}

#welcome-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-family: 'Pixemon', Courier, monospace;
    text-align: center;
    z-index: 10;
}

#welcome-screen h1 {
    font-size: 3rem;
    letter-spacing: 3px;
    margin-bottom: 30px;
    text-shadow: 0 0 10px #ffffff;
}

#start-game-btn {
    padding: 10px 25px;
    font-size: 1.5rem;
    background-color: #111;
    color: #fff;
    border: 2px solid #fff;
    font-family: 'Pixemon', monospace;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#start-game-btn:hover {
    background-color: #fff;
    color: #111;
    font-weight: bold;
}

#game-container {
    position: relative;
    background: #0a0a0a;
    width: 80vw;
    height: 80vh;
    border: 2px solid #ffffff;
    overflow: hidden;
    display: none;
}

#character {
    position: absolute;
    top: 50%;
    border-radius: 2em;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}


.word {
    position: absolute;
    font-family: 'Pixemon', sans-serif;
    font-size: 2rem;
    letter-spacing: 1px;
    color: #696969;
    text-shadow: 0 0 10px #696969;
    white-space: nowrap;
    transition: transform 0.1s linear;
}


.illuminated {
    color: #ffffff;
    text-shadow: 0 0 10px #ffffff;
}

#game-over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: 'Pixemon', monospace;
    text-align: center;
    z-index: 10;
}

#game-over h1 {
    font-size: 3rem;
    letter-spacing: 2px;
    text-shadow: 0 0 20px #ffffff;
    margin-bottom: 20px;
}

#game-over button {
    background: #111;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 10px 20px;
    letter-spacing: 2px;
    font-family: 'Pixemon', monospace;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    transition: background 0.3s ease;
    margin: 10px 0;
    width: 200px;
}

#game-over button:hover {
    background: #ffffff;
    color: #111;
    font-weight: bold;
}


.special {
    color: rgb(186, 186, 0);
}

.illuminated.special {
    color: #ffff00;
    text-shadow: 0 0 10px #ffff00;
}

#character-selection-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-family: 'Pixemon', monospace;
    letter-spacing: 2px;
    text-align: center;
    z-index: 20;
}

#character-options {
    display: flex;
    letter-spacing: 1px;
    gap: 20px;
}

.character-option {
    text-align: center;
    background-color: #ffffff62;
    letter-spacing: 1px;
    padding-bottom: 5px;
    color: #000;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.character-option img {
    border-radius: 10px;
}

.character-option:hover {
    transform: scale(1.1);
    border-radius: 10px;
    background-color: #ffffffda;
    box-shadow: 0 0 20px white;
}
